@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --very-dark-cyan: #00494d;
  --dark-grayish-cyan1: #5e7a7d;
  --dark-grayish-cyan2: #7f9c9f;
  --light-grayish-cyan1: #c5e4e7;
  --light-grayish-cyan2: #f4fafa;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Space Mono', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grayish-cyan1);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 90px;
  height: fit-content;
  margin-bottom: 40px;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  padding: 35px;
  gap: 25px;
  border-radius: 24px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 410px;
  margin-left: 5px;
  margin-top: 10px;
  justify-content: space-around;
}

.titles {
  font-size: 16px;
  color: var(--dark-grayish-cyan1);
}

.bill-box input,
.nmb-people-box input {
  font-family: 'Space Mono', sans-serif;
  width: 380px;
  height: 40px;
  font-size: 24px;
  text-align: end;
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5%;
  padding-right: 10px;
  background-color: var(--light-grayish-cyan2);
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 700;
  color: var(--very-dark-cyan);
}

.bill-box input:focus,
.nmb-people-box input:focus {
  outline: 2px solid #1dbfa7;
}

#people-amt {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5%;
}

.box-1 input::placeholder {
  color: var(--dark-grayish-cyan2);
}

.tip-box-1 {
  display: flex;
  gap: 15px;
}

.m-bottom {
  margin-bottom: 15px;
}

.btn-tip {
  font-family: 'Space Mono', sans-serif;
  background: var(--very-dark-cyan);
  width: 115px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 25px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  transition: transform 500ms ease;
}

.btn-tip:hover {
  transform: scale(1.05);
  background-color: #1dbfa7;
  color: var(--very-dark-cyan);
}

.btn-tip:focus {
  background-color: #1dbfa7;
  color: var(--very-dark-cyan);
}

.tip-custom {
  font-family: 'Space Mono', sans-serif;
  background: var(--light-grayish-cyan2);
  width: 28%;
  height: 40px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 25px;
  color: var(--very-dark-cyan);
  font-weight: 700;
  cursor: pointer;
  transition: transform 500ms ease;
  text-align: center;
}

.tip-custom:focus {
  outline: 2px solid #1dbfa7;
}

.box-2 {
  background: var(--very-dark-cyan);
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 410px;
  border-radius: 18px;
  margin-left: 5px;
  margin-top: 10px;
  align-items: center;
}

.total-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}

.total-box input {
  border: none;
  outline: none;
  font-size: 48px;
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  background: none;
  width: 60%;
  text-align: end;
  color: #1dbfa7;
}

.total-box input::placeholder {
  color: #1dbfa7;
}

.titles-2 {
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
}

.titles-2 span {
  font-size: 14px;
  color: var(--dark-grayish-cyan2);
  font-weight: 700;
}

.reset {
  width: 330px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Space Mono', sans-serif;
  background-color: #0d686d;
  color: var(--very-dark-cyan);
  margin-top: 80px;
  font-size: 19px;
  font-weight: 700;
  transition: transform 500ms ease;
}

.reset:hover {
  transform: scale(1.05);
  background-color: #1dbfa7;
}

.reset:focus {
  background-color: #1dbfa7;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Space Mono', sans-serif;
  color: var(--very-dark-cyan);
  background-color: var(--light-grayish-cyan1);
  padding-top: 20px;
  padding-bottom: 10px;
}

.attribution a {
  text-decoration: none;
  color: var(--very-dark-cyan);
}
.attribution a:hover {
  text-decoration: underline;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
